html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.bottom-part h1,
h4,
h5 {
  color: #666666;
  /* font-size: 36px; */
  font-family: Cambay;
  font-weight: 700;
  /* line-height: 43px; */
  /* letter-spacing: 1px; */
  word-wrap: "break-word";
  text-align: center;
  padding: 50px;
}

.img-thumbnail {
  border: 5px;
}

.bottom-part .btn {
  display: block;
  margin: auto;
}

.btn-section {
  margin: 5%;
}

.quote {
  background-color: #f7f7f7;
  border-radius: 10px;
  width: 75vw;
  margin: auto;
  padding: 3%;
}

.writer {
  border-radius: 10px;
  width: 50vw;
  margin: auto;
  text-align: center;
}

.writer-photo {
  margin: 30px;
}

.subscribe {
  background-color: #f7f7f7;
  width: 60vw;
  margin: auto;
  padding: 3%;
}

.feature {
  margin: auto;
  padding: 5%;
  width: 70vw;
}

.copyright {
  text-align: center;
  margin-top: 10%;
  color: #f7f7f7;
}

.sponsor {
  background-color: white;
  border-radius: 10px;
  width: 70vw;
}

.support-us {
  margin-top: 10%;
}

.support-us .btn {
  float: left;
}

footer {
  padding: 5% 15%;
  background-color: #676665;
  left: 0;
  margin-top: 5%;
  width: 100vw;
  text-align: left;
}

.single-content {
  text-align: center;
  padding: 115px 0;
}
.single-box p {
  color: #fff;
  line-height: 1.9;
}
.single-box h3 {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.single-box .card-area i {
  color: #ffffff;
  font-size: 20px;
  margin-right: 10px;
}
.single-box ul {
  list-style: none;
  padding: 0;
}
.single-box ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 2;
  font-weight: 100;
}
.single-box h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
#basic-addon2 {
  background: #fe1e4f;
  color: #fff;
}
.socials i {
  font-size: 18px;
  margin-right: 15px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-area {
  margin-top: 50%;
  margin-bottom: 50%;
}

.support-us {
  margin-top: 30%;
}

.support-us .btn {
  /* margin-top: 3%; */
  margin-bottom: 10%;
}
