body {
  background-color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
/* headline */
.headline1 {
  font-family: "Cambay", sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-top: 58px; /* space above text */
  line-height: 58px; /* leading */
  letter-spacing: 0px; /* tracking */
}
/* headline2 */
.headline2 {
  font-family: "Cambay", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 50px; /* space above text */
  line-height: 50px; /* leading */
  letter-spacing: 0px; /* tracking */
}
/* homepage overlay text */
h1 {
  font-family: "Cambay", sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-top: 46px; /* space above text */
  line-height: 43px; /* leading */
  letter-spacing: 1px; /* tracking */
}
/* homepage overlay text */
h2 {
  font-family: "Cambay", sans-serif;
  font-size: 28px;
  font-weight: normal;
  margin-top: 38px; /* space above text */
  line-height: 34px; /* leading */
  letter-spacing: 1px; /* tracking */
}
/* titles of card categories on the homepage */
h3 {
  font-family: "Karla", sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin-top: 22px; /* space above text */
  line-height: 22px; /* leading */
  letter-spacing: 1px; /* tracking */
}
/* get started title text felds 'Charity Settings' */
h4 {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-top: 21px; /* space above text */
  line-height: 21px; /* leading */
  letter-spacing: 1px; /* tracking */
}
/* all pages/ first level navigation */
.main-nav {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px; /* space above text */
  line-height: 20px; /* leading */
  letter-spacing: 0px; /* tracking */
}
/* charities/ cards > categories
charities > territories */
.secondary-nav {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: 16px; /* space above text */
  line-height: 16px; /* leading */
  letter-spacing: 10px; /* tracking */
}
/* get strated > customize & send */
.progress-bar {
  font-family: "Karla", sans-serif;
  font-size: 15px;
  font-weight: normal;
  margin-top: 18px; /* space above text */
  line-height: 18px; /* leading */
  letter-spacing: 10px; /* tracking */
}
/* titles of cards & charities in cards/ charity main pages */
.body-text {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: 22px; /* space above text */
  line-height: 22px; /* leading */
  letter-spacing: 0px; /* tracking */
}
/* get started text felds */
.fields {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px; /* space above text */
  line-height: 20px; /* leading */
  letter-spacing: 0px; /* tracking */
}
/* titles of cards & charities in cards/ charity main pages */
.card-or-charity-titles {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: 16px; /* space above text */
  line-height: 16px; /* leading */
  letter-spacing: 0px; /* tracking */
}
/* charites page > charity accordion preview */
.card-or-charity-preview-body-text {
  font-family: "Karla", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-top: 17px; /* space above text */
  line-height: 17px; /* leading */
  letter-spacing: 0px; /* tracking */
}
/* charites page > charity accordion preview */
.card-or-charity-preview-title-text {
  font-family: "Karla", sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin-top: 19px; /* space above text */
  line-height: 19px; /* leading */
  letter-spacing: 0px; /* tracking */
}
.primary-button {
  width: 153px;
  height: 40px;
  padding: 10px 28px 10px 28px;
  border: 1px;
  border-radius: 0px;
  background-color: var(--brand-color);
}
.primary-button:hover {
  background-color: var(--sub-nav-btn-hover);
}
.primary-button:active {
  background-color: var(--sub-nav-btn-hover);
}
.cta-button {
  width: 193px;
  height: 52px;
  padding: 16px 48px 16px 48px;
  border: 1px;
  border-radius: 0px;
  background-color: var(--brand-color);
}
.cta-button:hover {
  background-color: var(--sub-nav-btn-hover);
}
.cta-button:active {
  background-color: var(--sub-nav-btn-hover);
}
a {
  color: var(--brand-color);
}
a:hover {
  color: var(--second-lv-category-nav);
}
a:active {
  color: var(--second-lv-category-nav);
}

#homepage-design,
#homepage-design * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#homepage-design {
  background: #ffffff;
  overflow: hidden;
}

.navbar a {
  color: var(--second-lv-category-nav);
}
.navbar button {
  color: var(--secondary-content-bg);
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.navbar-toggler[aria-expanded="false"] span {
  background-image: url(/src/img/mdi_menu.svg);
}

.navbar-toggler[aria-expanded="true"] span {
  background-image: url(/src/img/ic_baseline-close.svg);
}
@media (max-width: 991px) {
  #nav-bar {
    width: auto;
    height: auto;
  }
}
@media (min-width: 992px) {
  #nav-bar {
    max-width: 1320px;
    height: auto;
  }
}
#hero h1 {
  color: var(--brand-color);
}
#hero h3 {
  color: var(--heading);
}
#hero button {
  color: var(--secondary-content-bg);
}

@media (max-width: 991px) {
  #hero {
    width: auto;
    height: auto;
  }
  #hero #hero-image {
    width: auto;
    height: auto;
  }
  #hero #hero-message {
    width: auto;
    height: auto;
  }
}
@media (min-width: 992px) {
  #hero {
    max-width: 1320px;
    height: auto;
  }
  #hero #hero-image {
    width: 649px;
    height: auto;
  }
  #hero #hero-message {
    width: 607px;
    height: auto;
  }
}

#how-it-works h1 {
  color: var(--heading);
}
#how-it-works h2 {
  color: var(--heading);
}
#how-it-works h4 {
  color: var(--heading);
}
#how-it-works .ellipse {
  color: var(--brand-color);
}
@media (max-width: 991px) {
  #how-it-works {
    width: 313px;
    height: auto;
  }
  #how-it-works #frame-7 .d-flex {
    width: 313px;
    height: auto;
  }
  #how-it-works #frame-7 .d-flex > div:first-of-type {
    width: 240px;
    height: 240px;
  }
  #how-it-works #frame-7 .d-flex #frame-31 {
    padding: 60px 58px 60px 16px;
  }
  #how-it-works #frame-7 .d-flex #frame-32 {
    padding: 55px 58px 55px 16px;
  }
  #how-it-works #frame-7 .d-flex #frame-33 {
    padding: 71px 58px 71px 16px;
  }
  .ellipse {
    width: 38px;
    height: 37px;
    border: 2px solid; /* Border color */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent; /* Transparent background */
  }
}
@media (min-width: 992px) {
  #how-it-works {
    max-width: 1092px;
    height: auto;
  }
  #how-it-works #frame-7 .d-flex {
    width: 316px;
    height: auto;
  }
  #how-it-works #frame-7 .d-flex > div:first-of-type {
    max-width: 316px;
    height: 316px;
  }
  #how-it-works #frame-7 .d-flex #frame-31 {
    padding: 83px 83px 83px 27px;
  }
  #how-it-works #frame-7 .d-flex #frame-32 {
    padding: 77px 83px 77px 27px;
  }
  #how-it-works #frame-7 .d-flex #frame-33 {
    padding: 93px 73px 93px 27px;
  }
  .ellipse {
    width: 48px;
    height: 48px;
    border: 2px solid; /* Border color */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent; /* Transparent background */
  }
}

#missions h1 {
  color: var(--heading);
}
#missions h3 {
  color: var(--heading);
}
@media (max-width: 991px) {
  #missions {
    width: 300px;
    height: auto;
  }
  #missions #frame-75 .d-flex {
    width: 300px;
    height: auto;
  }
}
@media (min-width: 992px) {
  #missions {
    max-width: 1090px;
    height: auto;
  }
  #missions #frame-75 .d-flex {
    width: 300px;
    height: auto;
  }
}

#occasions h1 {
  color: var(--heading);
}
#occasions h3 {
  color: var(--heading);
}
@media (max-width: 991px) {
  #occasions {
    width: 290px;
    height: auto;
  }
  #occasions #frame-70 .d-flex {
    width: 240px;
    height: auto;
  }
}
@media (min-width: 992px) {
  #occasions {
    max-width: 1096px;
    height: auto;
  }
  #occasions #frame-70 .d-flex {
    width: 245px;
    height: auto;
  }
}

#impact {
  background-color: var(--primary-content-bg);
}
#impact h1 {
  color: var(--heading);
}
#impact #users-2,
#impact #users-3-span,
#impact #_50-campaigns-span,
#impact #hk-20-million-raised-span,
#impact #_10-tons-span {
  color: var(--brand-color);
}
#impact #users-3-span2,
#impact #_50-campaigns-span2,
#impact #hk-20-million-raised-span2,
#impact #gift-waste-saved {
  color: var(--heading);
}

@media (max-width: 991px) {
  #impact #users {
    width: auto;
    height: 246px;
  }
  #impact #fund {
    width: auto;
    height: 160px;
  }
  #impact #earth {
    width: auto;
    height: 246px;
  }
  #impact #campaign {
    width: auto;
    height: 160px;
  }
  #impact #users .card-img .d-flex {
    height: 120px;
  }
  #impact #fund .card-img {
    width: 156px;
    height: 153px;
    position: absolute;
    text-align: start;
    top: 0px;
    left: -15px;
  }

  #impact #earth .card-img {
    width: 210px;
    height: 210px;
    position: absolute;
    text-align: end;
    top: 83px;
    right: 0px;
  }

  #impact #campaign .card-img {
    width: 156px;
    height: 145px;
    position: absolute;
    text-align: end;
    top: 15px;
    right: 0px;
  }
}

@media (min-width: 992px) {
  #impact #frame-57 {
    width: 1099px;
  }
  #impact #users {
    width: 762px;
    height: 352px;
  }
  #impact #fund {
    width: 762px;
    height: 208px;
  }
  #impact #earth {
    width: 315px;
    height: 336px;
  }
  #impact #campaign {
    width: 315px;
    height: 224px;
  }
  #impact #users .card-img .d-flex {
    width: auto;
    height: 160px;
  }
  #impact #fund .card-img {
    position: absolute;
    text-align: start;
    top: -8px;
    left: 0px;
  }
  #impact #earth .card-img {
    position: absolute;
    text-align: start;
    top: 189px;
    left: 105px;
  }
  #impact #campaign .card-img {
    position: absolute;
    text-align: start;
    top: -7px;
    left: 74px;
  }
}
