/* Figma Styles of your File */
:root {
  /* Colors */
  --body-text-color: #666666;
  --heading-color: #666666;

  --brand-color: #e0156a;

  --page-sub-title-text-color: #e0156a;
  --highlight-text-color: #e0156a;
  --primary-sub-nav-btn-color: #e0156a;
  --navigation-accents-color: #e0156a;
  --sub-nav-btn-hover-color: #e85593;

  --secondary-sub-nav-btn-color: #4d4d4d;
  --secondary-sub-nav-btn-hover-color: #222222;

  --primary-content-bg-color: #f9f9f9;
  --secondary-content-bg-color: #ffffff;

  --main-menu-nav-color: #000000;
  --second-lv-category-nav-color: #666666;
  --third-lv-nav-unselected-color: #b3b3b3;
  --body-text-color-1: #999999;
  --progess-body-text-color: #39b54a;

  /* Fonts */
  --headline: 700 48px/58px "Cambay", sans-serif;
  --heading-2: 400 28px/34px "Cambay", sans-serif;
  --heading-3: 500 20px/22px "Karla", sans-serif;
  --heading-4: 500 18px/21px "Karla", sans-serif;
  --primary-nav: 500 16px/20px "Karla", sans-serif;
  --body-text: 400 16px/22px "Karla", sans-serif;
  --cta-text: 500 16px/20px "Karla", sans-serif;
  --heading-1: 700 36px/43px "Cambay", sans-serif;
  --headline-mobile: 700 32px/38px "Cambay", sans-serif;

  --steps-text: 400 24px/21px "Karla", sans-serif;
  --steps-text-mobile: 400 16px/21px "Karla", sans-serif;
  --odometer: 700 48px/58px "Cambay", sans-serif;
  --caption-1: 700 48px/58px "Cambay", sans-serif;
  --caption-2: 700 40px/50px "Cambay", sans-serif;
  /* Effects */
}
